# CoreML Models
*.mlpackage/
*.mlmodel
*.mlmodelc/

# Python cache
__pycache__/
*.pyc
scripts/*.onnx

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/

# macOS
.DS_Store

# test_data
scripts/test_data